/* خلفية الجدول وداخله شفافين */
.table-view {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 0;
}

/* خلفية رؤوس الأعمدة */
.table-view .column-header-background {
    -fx-background-color: transparent;
}

/* تنسيق رؤوس الأعمدة (PRODUCT, QUANTITY, PRICE...) */
.table-view .column-header,
.table-view .column-header .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;        /* لون الكلام فوق */
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-alignment: CENTER;
}

/* تنسيق الخلايا داخل الجدول */
.table-view .cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;        /* لون النص داخل الجدول */
    -fx-font-size: 13px;
    -fx-alignment: CENTER;
}

/* شفافية كل صف */
.table-view .table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/* لما تختار صف (selection) */
.table-view .table-row-cell:selected {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-pref-height: 0;
}
